//
//  Debug.xcconfig
//  TestProject
//
//  Created by Shahla Almasri Hafez on 3/31/19.
//  Copyright © 2019 Shahla Almasri Hafez. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

url = http:\/\/www.mocky.io\/v2\/5c5c46f13900005a18e05b90
